Попередня підготовка даних для роботи з ними.

In [1]:
import pandas as pd

Імпортуємо датасет.

In [2]:
def getDataset():
    data = pd.read_csv('data/medals.csv',sep=',',encoding='cp1252')
    return data 

dataset = getDataset()

dataset = dataset[dataset["Year"]>=1980]
dataset.info()
dataset.head(10)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 157417 entries, 0 to 271115
Data columns (total 15 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   ID      157417 non-null  int64
 1   Name    157417 non-null  object
 2   Sex     157417 non-null  object
 3   Age     156845 non-null  float64
 4   Height  149270 non-null  float64
 5   Weight  148827 non-null  float64
 6   Team    157417 non-null  object
 7   NOC     157417 non-null  object
 8   Games   157417 non-null  object
 9   Year    157417 non-null  int64
 10  Season  157417 non-null  object
 11  City    157417 non-null  object
 12  Sport   157417 non-null  object
 13  Event   157417 non-null  object
 14  Medal   21926 non-null   object
dtypes: float64(3), int64(2), object(10)
memory usage: 13.2+ MB

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
4,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN
5,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,"Speed Skating Women's 1,000 metres",NaN
6,5,Christine Jacoba Aaftink,F,25.0,185.0,82.0,Netherlands,NED,1992 Winter,1992,Winter,Albertville,Speed Skating,Speed Skating Women's 500 metres,NaN
7,5,Christine Jacoba Aaftink,F,25.0,185.0,82.0,Netherlands,NED,1992 Winter,1992,Winter,Albertville,Speed Skating,"Speed Skating Women's 1,000 metres",NaN
8,5,Christine Jacoba Aaftink,F,27.0,185.0,82.0,Netherlands,NED,1994 Winter,1994,Winter,Lillehammer,Speed Skating,Speed Skating Women's 500 metres,NaN
9,5,Christine Jacoba Aaftink,F,27.0,185.0,82.0,Netherlands,NED,1994 Winter,1994,Winter,Lillehammer,Speed Skating,"Speed Skating Women's 1,000 metres",NaN
10,6,Per Knut Aaland,M,31.0,188.0,75.0,United States,USA,1992 Winter,1992,Winter,Albertville,Cross Country Skiing,Cross Country Skiing Men's 10 kilometres,NaN
11,6,Per Knut Aaland,M,31.0,188.0,75.0,United States,USA,1992 Winter,1992,Winter,Albertville,Cross Country Skiing,Cross Country Skiing Men's 50 kilometres,NaN

Видалимо зайві стовпчики.

In [3]:
dataset = dataset.drop("Games", axis = 1)
dataset = dataset.drop("City", axis = 1)
dataset = dataset.drop("Event", axis = 1)   
dataset = dataset.drop("Name", axis = 1)

dataset = dataset[~dataset['Age'].isnull()]
dataset = dataset[~dataset['Height'].isnull()]
dataset = dataset[~dataset['Weight'].isnull()]
def toInt(dataset,columnName):
    dataset[columnName] = dataset[columnName].astype(int)

toInt(dataset,'Age')
toInt(dataset,'Height')
toInt(dataset,'Weight')
dataset.info()
dataset.head(10)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 148083 entries, 0 to 271115
Data columns (total 11 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   ID      148083 non-null  int64
 1   Sex     148083 non-null  object
 2   Age     148083 non-null  int32
 3   Height  148083 non-null  int32
 4   Weight  148083 non-null  int32
 5   Team    148083 non-null  object
 6   NOC     148083 non-null  object
 7   Year    148083 non-null  int64
 8   Season  148083 non-null  object
 9   Sport   148083 non-null  object
 10  Medal   21439 non-null   object
dtypes: int32(3), int64(2), object(6)
memory usage: 8.5+ MB

,ID,Sex,Age,Height,Weight,Team,NOC,Year,Season,Sport,Medal
0,1,M,24,180,80,China,CHN,1992,Summer,Basketball,NaN
1,2,M,23,170,60,China,CHN,2012,Summer,Judo,NaN
4,5,F,21,185,82,Netherlands,NED,1988,Winter,Speed Skating,NaN
5,5,F,21,185,82,Netherlands,NED,1988,Winter,Speed Skating,NaN
6,5,F,25,185,82,Netherlands,NED,1992,Winter,Speed Skating,NaN
7,5,F,25,185,82,Netherlands,NED,1992,Winter,Speed Skating,NaN
8,5,F,27,185,82,Netherlands,NED,1994,Winter,Speed Skating,NaN
9,5,F,27,185,82,Netherlands,NED,1994,Winter,Speed Skating,NaN
10,6,M,31,188,75,United States,USA,1992,Winter,Cross Country Skiing,NaN
11,6,M,31,188,75,United States,USA,1992,Winter,Cross Country Skiing,NaN

Очистка назв країн від цифр

In [4]:

dataset.replace('-\d*','',regex=True, inplace = True)


dataset[dataset["ID"] == 705]

,ID,Sex,Age,Height,Weight,Team,NOC,Year,Season,Sport,Medal
1253,705,M,22,190,99,Switzerland,SUI,1988,Winter,Bobsleigh,NaN
1254,705,M,26,190,99,Switzerland,SUI,1992,Winter,Bobsleigh,Gold
1255,705,M,26,190,99,Switzerland,SUI,1992,Winter,Bobsleigh,Bronze
1256,705,M,28,190,99,Switzerland,SUI,1994,Winter,Bobsleigh,Gold
1257,705,M,28,190,99,Switzerland,SUI,1994,Winter,Bobsleigh,Silver

In [30]:

input = pd.read_csv('data/GDP.csv',sep=',',encoding='cp1252')

GDP = input.iloc[: , :2]
GDPtemp = input.iloc[:,-42:-5]

for i in range(len(GDPtemp)) :
    GDPtemp.iloc[i] = GDPtemp.iloc[i].fillna(value =  GDPtemp.iloc[i].mean())

GDP = pd.concat([GDP, GDPtemp],axis=1)
GDP = GDP[~GDP['2016'].isnull()]

GDP = GDP.melt(id_vars=["Country Name", "Code"], 
        var_name="Year", 
        value_name="GDP")

toInt(GDP,'Year')

GDP.info()
GDP.head(10)

GDP.to_csv("check2.csv", sep=',', encoding='utf-8')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9657 entries, 0 to 9656
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Country Name  9657 non-null   object
 1   Code          9657 non-null   object
 2   Year          9657 non-null   int32
 3   GDP           9657 non-null   float64
dtypes: float64(1), int32(1), object(2)
memory usage: 188.7+ KB

                  Country Name Code  Year           GDP
0                        Aruba  ABW  1980  1.815112e+09
1  Africa Eastern and Southern  AFE  1980  1.565127e+11
2                  Afghanistan  AFG  1980  3.641723e+09
3   Africa Western and Central  AFW  1980  1.120313e+11
4                       Angola  AGO  1980  5.934074e+09
5                      Albania  ALB  1980  5.944851e+09
6                      Andorra  AND  1980  4.464161e+08
7                   Arab World  ARB  1980  4.590771e+11
8         United Arab Emirates  ARE  1980  4.359875e+10
9                    Argentina  ARG  1980  7.696192e+10

In [38]:
input = pd.read_csv('data/population.csv',sep=',',encoding='cp1252')
input = input.drop("Indicator Name", axis = 1)
Pop = input.iloc[: , :2]
Poptemp = input.iloc[:,-40:-3]

for i in range(len(Poptemp)) :
    Poptemp.iloc[i] = Poptemp.iloc[i].fillna(value =  Poptemp.iloc[i].mean())


Pop = pd.concat([Pop, Poptemp],axis=1)
Pop = Pop[~Pop['2016'].isnull()]

Pop = Pop.melt(id_vars=["Country Name", "Country Code"], 
        var_name="Year", 
        value_name="Population")

toInt(Pop,'Year')

Pop.info()
Pop.head(10)

Pop.to_csv("check3.csv", sep=',', encoding='utf-8')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9731 entries, 0 to 9730
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Country Name  9731 non-null   object
 1   Country Code  9731 non-null   object
 2   Year          9731 non-null   int32
 3   Population    9731 non-null   float64
dtypes: float64(1), int32(1), object(2)
memory usage: 190.1+ KB

In [51]:
dataset["NOC"].replace('NED', 'NLD', inplace = True)
all = pd.merge(dataset, GDP,  how='left', left_on=['NOC','Year'], right_on = ['Code','Year'])
all = pd.merge(all, Pop,  how='left', left_on=['Team','Year'], right_on = ['Country Name','Year'])
all.info()
all.head(20)
all.to_csv("check4.csv", sep=',', encoding='utf-8')

<class 'pandas.core.frame.DataFrame'>
Int64Index: 148083 entries, 0 to 148082
Data columns (total 17 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   ID              148083 non-null  int64
 1   Sex             148083 non-null  object
 2   Age             148083 non-null  int32
 3   Height          148083 non-null  int32
 4   Weight          148083 non-null  int32
 5   Team            148083 non-null  object
 6   NOC             148083 non-null  object
 7   Year            148083 non-null  int64
 8   Season          148083 non-null  object
 9   Sport           148083 non-null  object
 10  Medal           21439 non-null   object
 11  Country Name_x  113956 non-null  object
 12  Code            113956 non-null  object
 13  GDP             113956 non-null  float64
 14  Country Name_y  121669 non-null  object
 15  Country Code    121669 non-null  object
 16  Population      121669 non-null  float64
dtypes: float64(2), int32(3), int64(2), object(10)
memory usage: 13.0+ MB