Попередня підготовка даних для роботи з ними.

In [1]:
import pandas as pd

Імпортуємо датасет.

In [2]:
def getDataset():
    data = pd.read_csv('data/medals.csv',sep=',',encoding='cp1252')
    return data 

dataset = getDataset()

dataset = dataset[dataset["Year"]>=1980]
dataset.info()
dataset.head(10)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 157417 entries, 0 to 271115
Data columns (total 15 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   ID      157417 non-null  int64
 1   Name    157417 non-null  object
 2   Sex     157417 non-null  object
 3   Age     156845 non-null  float64
 4   Height  149270 non-null  float64
 5   Weight  148827 non-null  float64
 6   Team    157417 non-null  object
 7   NOC     157417 non-null  object
 8   Games   157417 non-null  object
 9   Year    157417 non-null  int64
 10  Season  157417 non-null  object
 11  City    157417 non-null  object
 12  Sport   157417 non-null  object
 13  Event   157417 non-null  object
 14  Medal   21926 non-null   object
dtypes: float64(3), int64(2), object(10)
memory usage: 19.2+ MB

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
4,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN
5,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,"Speed Skating Women's 1,000 metres",NaN
6,5,Christine Jacoba Aaftink,F,25.0,185.0,82.0,Netherlands,NED,1992 Winter,1992,Winter,Albertville,Speed Skating,Speed Skating Women's 500 metres,NaN
7,5,Christine Jacoba Aaftink,F,25.0,185.0,82.0,Netherlands,NED,1992 Winter,1992,Winter,Albertville,Speed Skating,"Speed Skating Women's 1,000 metres",NaN
8,5,Christine Jacoba Aaftink,F,27.0,185.0,82.0,Netherlands,NED,1994 Winter,1994,Winter,Lillehammer,Speed Skating,Speed Skating Women's 500 metres,NaN
9,5,Christine Jacoba Aaftink,F,27.0,185.0,82.0,Netherlands,NED,1994 Winter,1994,Winter,Lillehammer,Speed Skating,"Speed Skating Women's 1,000 metres",NaN
10,6,Per Knut Aaland,M,31.0,188.0,75.0,United States,USA,1992 Winter,1992,Winter,Albertville,Cross Country Skiing,Cross Country Skiing Men's 10 kilometres,NaN
11,6,Per Knut Aaland,M,31.0,188.0,75.0,United States,USA,1992 Winter,1992,Winter,Albertville,Cross Country Skiing,Cross Country Skiing Men's 50 kilometres,NaN

Видалимо зайві стовпчики.

In [3]:
dataset = dataset.drop("Games", axis = 1)
dataset = dataset.drop("City", axis = 1)
dataset = dataset.drop("Event", axis = 1)   
dataset = dataset.drop("Name", axis = 1)

dataset = dataset[~dataset['Age'].isnull()]
dataset = dataset[~dataset['Height'].isnull()]
dataset = dataset[~dataset['Weight'].isnull()]
def toInt(dataset,columnName):
    dataset[columnName] = dataset[columnName].astype(int)

toInt(dataset,'Age')
toInt(dataset,'Height')
toInt(dataset,'Weight')
dataset.info()
dataset.head(10)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 148083 entries, 0 to 271115
Data columns (total 11 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   ID      148083 non-null  int64
 1   Sex     148083 non-null  object
 2   Age     148083 non-null  int32
 3   Height  148083 non-null  int32
 4   Weight  148083 non-null  int32
 5   Team    148083 non-null  object
 6   NOC     148083 non-null  object
 7   Year    148083 non-null  int64
 8   Season  148083 non-null  object
 9   Sport   148083 non-null  object
 10  Medal   21439 non-null   object
dtypes: int32(3), int64(2), object(6)
memory usage: 11.9+ MB

,ID,Sex,Age,Height,Weight,Team,NOC,Year,Season,Sport,Medal
0,1,M,24,180,80,China,CHN,1992,Summer,Basketball,NaN
1,2,M,23,170,60,China,CHN,2012,Summer,Judo,NaN
4,5,F,21,185,82,Netherlands,NED,1988,Winter,Speed Skating,NaN
5,5,F,21,185,82,Netherlands,NED,1988,Winter,Speed Skating,NaN
6,5,F,25,185,82,Netherlands,NED,1992,Winter,Speed Skating,NaN
7,5,F,25,185,82,Netherlands,NED,1992,Winter,Speed Skating,NaN
8,5,F,27,185,82,Netherlands,NED,1994,Winter,Speed Skating,NaN
9,5,F,27,185,82,Netherlands,NED,1994,Winter,Speed Skating,NaN
10,6,M,31,188,75,United States,USA,1992,Winter,Cross Country Skiing,NaN
11,6,M,31,188,75,United States,USA,1992,Winter,Cross Country Skiing,NaN

Очистка назв країн від цифр

In [4]:

dataset.replace('-\d*','',regex=True, inplace = True)


dataset[dataset["ID"] == 705]

,ID,Sex,Age,Height,Weight,Team,NOC,Year,Season,Sport,Medal
1253,705,M,22,190,99,Switzerland,SUI,1988,Winter,Bobsleigh,NaN
1254,705,M,26,190,99,Switzerland,SUI,1992,Winter,Bobsleigh,Gold
1255,705,M,26,190,99,Switzerland,SUI,1992,Winter,Bobsleigh,Bronze
1256,705,M,28,190,99,Switzerland,SUI,1994,Winter,Bobsleigh,Gold
1257,705,M,28,190,99,Switzerland,SUI,1994,Winter,Bobsleigh,Silver

In [29]:

dataset.to_csv("check.csv", sep=',', encoding='utf-8')

def getDataset():
    data = pd.read_csv('data/GDP.csv',sep=',',encoding='cp1252')
    return data 

input = getDataset() 

GDP = input.iloc[: , :2]
GDP = pd.concat([GDP,input.iloc[:,-42:-5]],axis=1)
 

GDP.info()
GDP.head(10)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 266 entries, 0 to 265
Data columns (total 39 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Country Name  266 non-null    object
 1   Code          266 non-null    object
 2   1980          190 non-null    float64
 3   1981          194 non-null    float64
 4   1982          195 non-null    float64
 5   1983          196 non-null    float64
 6   1984          197 non-null    float64
 7   1985          199 non-null    float64
 8   1986          201 non-null    float64
 9   1987          205 non-null    float64
 10  1988          210 non-null    float64
 11  1989          210 non-null    float64
 12  1990          225 non-null    float64
 13  1991          220 non-null    float64
 14  1992          224 non-null    float64
 15  1993          227 non-null    float64
 16  1994          231 non-null    float64
 17  1995          240 non-null    float64
 18  1996          240 non-null    float64
 19  1997          240 non-null    float64
 20  1998          242 non-null    float64
 21  1999          243 non-null    float64
 22  2000          247 non-null    float64
 23  2001          248 non-null    float64
 24  2002          253 non-null    float64
 25  2003          253 non-null    float64
 26  2004          253 non-null    float64
 27  2005          253 non-null    float64
 28  2006          254 non-null    float64
 29  2007          254 non-null    float64
 30  2008          255 non-null    float64
 31  2009          255 non-null    float64
 32  2010          256 non-null    float64
 33  2011          258 non-null    float64
 34  2012          257 non-null    float64
 35  2013          258 non-null    float64
 36  2014          258 non-null    float64
 37  2015          257 non-null    float64
 38  2016          256 non-null    float64
dtypes: float64(37), object(2)
memory usage: 81.2+ KB

,Country Name,Code,1980,1981,1982,1983,1984,1985,1986,1987,...,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016
0,Aruba,ABW,NaN,NaN,NaN,NaN,NaN,NaN,4.054634e+08,4.876025e+08,...,2.615084e+09,2.745251e+09,2.498883e+09,2.390503e+09,2.549721e+09,2.534637e+09,2.727850e+09,2.790849e+09,2.962905e+09,2.983637e+09
1,Africa Eastern and Southern,AFE,1.565127e+11,1.603781e+11,1.546694e+11,1.597575e+11,1.460219e+11,1.304398e+11,1.470252e+11,1.797395e+11,...,6.612422e+11,7.083543e+11,7.125580e+11,8.474095e+11,9.433782e+11,9.505214e+11,9.642424e+11,9.848071e+11,9.199300e+11,8.733549e+11
2,Afghanistan,AFG,3.641723e+09,3.478788e+09,NaN,NaN,NaN,NaN,NaN,NaN,...,9.747880e+09,1.010931e+10,1.241616e+10,1.585668e+10,1.780511e+10,1.990732e+10,2.014640e+10,2.049713e+10,1.913421e+10,1.811656e+10
3,Africa Western and Central,AFW,1.120313e+11,2.110035e+11,1.871637e+11,1.381152e+11,1.142627e+11,1.165073e+11,1.074975e+11,1.103218e+11,...,4.617776e+11,5.664257e+11,5.069964e+11,5.915830e+11,6.709626e+11,7.275714e+11,8.207876e+11,8.649666e+11,7.607297e+11,6.905430e+11
4,Angola,AGO,5.934074e+09,5.553824e+09,5.553824e+09,5.787824e+09,6.135166e+09,7.558613e+09,7.076794e+09,8.089279e+09,...,6.526645e+10,8.853861e+10,7.030716e+10,8.379950e+10,1.117897e+11,1.280529e+11,1.367099e+11,1.457122e+11,1.161936e+11,1.011239e+11
5,Albania,ALB,NaN,NaN,NaN,NaN,1.857338e+09,1.897050e+09,2.097326e+09,2.080796e+09,...,1.067732e+10,1.288135e+10,1.204421e+10,1.192692e+10,1.289076e+10,1.231983e+10,1.277622e+10,1.322815e+10,1.138685e+10,1.186120e+10
6,Andorra,AND,4.464161e+08,3.889587e+08,3.758960e+08,3.278618e+08,3.300707e+08,3.467380e+08,4.820006e+08,6.113164e+08,...,3.952601e+09,4.085631e+09,3.674410e+09,3.449967e+09,3.629204e+09,3.188809e+09,3.193704e+09,3.271808e+09,2.789870e+09,2.896679e+09
7,Arab World,ARB,4.590771e+11,4.749222e+11,4.459653e+11,4.192552e+11,4.259035e+11,4.249330e+11,4.138589e+11,4.501093e+11,...,1.789560e+12,2.254219e+12,1.974361e+12,2.311237e+12,2.501780e+12,2.740553e+12,2.799579e+12,2.831681e+12,2.463580e+12,2.411981e+12
8,United Arab Emirates,ARE,4.359875e+10,4.933342e+10,4.662272e+10,4.280332e+10,4.180795e+10,4.060365e+10,3.394361e+10,3.638491e+10,...,2.579161e+11,3.154746e+11,2.535474e+11,2.897873e+11,3.506660e+11,3.745906e+11,3.901076e+11,4.031371e+11,3.581351e+11,3.570451e+11
9,Argentina,ARG,7.696192e+10,7.867684e+10,8.430749e+10,1.039791e+11,7.909200e+10,8.841667e+10,1.109344e+11,1.111062e+11,...,2.875305e+11,3.615580e+11,3.329765e+11,4.236274e+11,5.301633e+11,5.459824e+11,5.520251e+11,5.263197e+11,5.947493e+11,5.575314e+11