In [79]:
import matplotlib.pyplot as pyp
import scipy.stats as st
import pandas as p
import numpy as n
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import PolynomialFeatures
from sklearn.pipeline import make_pipeline
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score

In [80]:
def read_dataset(path, separ, en):
    return p.read_csv(path, sep = separ, encoding = en)

dataset = read_dataset("fullDataset.csv", ',', 'cp1252')
dataset.info()
dataset.head(5)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 139483 entries, 0 to 139482
Data columns (total 14 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Unnamed: 0  139483 non-null  int64
 1   ID          139483 non-null  int64
 2   Sex         139483 non-null  object
 3   Age         139483 non-null  int64
 4   Height      139483 non-null  int64
 5   Weight      139483 non-null  int64
 6   Team        139483 non-null  object
 7   Year        139483 non-null  int64
 8   Season      139483 non-null  object
 9   Sport       139483 non-null  object
 10  Medal       18968 non-null   object
 11  Code        139483 non-null  object
 12  GDP         139483 non-null  float64
 13  Population  139483 non-null  float64
dtypes: float64(2), int64(6), object(6)
memory usage: 11.7+ MB

,Unnamed: 0,ID,Sex,Age,Height,Weight,Team,Year,Season,Sport,Medal,Code,GDP,Population
0,0,1,M,24,180,80,China,1992,Summer,Basketball,NaN,CHN,4.269157e+11,1.164970e+09
1,1,2,M,23,170,60,China,2012,Summer,Judo,NaN,CHN,8.532230e+12,1.350695e+09
2,2,5,F,21,185,82,Netherlands,1988,Winter,Speed Skating,NaN,NLD,2.619105e+11,1.476009e+07
3,3,5,F,21,185,82,Netherlands,1988,Winter,Speed Skating,NaN,NLD,2.619105e+11,1.476009e+07
4,4,5,F,25,185,82,Netherlands,1992,Winter,Speed Skating,NaN,NLD,3.629629e+11,1.518417e+07

In [81]:
drop_list = ["Unnamed: 0", "Sex", "Age", "Height", "Weight", "Team", "Sport"]
dataset["GDP per capita"] = dataset["GDP"] / dataset["Population"]

for str in drop_list:
    dataset = dataset.drop(str, axis = 1)

dataset.info()
dataset.head(10)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 139483 entries, 0 to 139482
Data columns (total 8 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   ID              139483 non-null  int64
 1   Year            139483 non-null  int64
 2   Season          139483 non-null  object
 3   Medal           18968 non-null   object
 4   Code            139483 non-null  object
 5   GDP             139483 non-null  float64
 6   Population      139483 non-null  float64
 7   GDP per capita  139483 non-null  float64
dtypes: float64(3), int64(2), object(3)
memory usage: 6.9+ MB

   ID  Year  Season Medal Code           GDP    Population  GDP per capita
0   1  1992  Summer   NaN  CHN  4.269157e+11  1.164970e+09      366.460692
1   2  2012  Summer   NaN  CHN  8.532230e+12  1.350695e+09     6316.918318
2   5  1988  Winter   NaN  NLD  2.619105e+11  1.476009e+07    17744.501384
3   5  1988  Winter   NaN  NLD  2.619105e+11  1.476009e+07    17744.501384
4   5  1992  Winter   NaN  NLD  3.629629e+11  1.518417e+07    23904.037415
5   5  1992  Winter   NaN  NLD  3.629629e+11  1.518417e+07    23904.037415
6   5  1994  Winter   NaN  NLD  3.791303e+11  1.538284e+07    24646.314310
7   5  1994  Winter   NaN  NLD  3.791303e+11  1.538284e+07    24646.314310
8   6  1992  Winter   NaN  USA  6.520327e+12  2.565140e+08    25418.990776
9   6  1992  Winter   NaN  USA  6.520327e+12  2.565140e+08    25418.990776

In [82]:
dataset = dataset.groupby(["Year", "Season", "Code"]).agg(GDP = ("GDP", "mean"),
                                                          Population = ("Population", "mean"),
                                                          Members = ("ID","nunique"),
                                                          GDP_p_c = ("GDP per capita", "mean"),
                                                          Medal = ("Medal", "count"))

dataset.info()

dataset.to_csv("check_r.csv", sep=',', encoding='utf-8')
dataset.head(10)

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 2258 entries, (1980, 'Summer', 'AFG') to (2016, 'Summer', 'ZWE')
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   GDP         2258 non-null   float64
 1   Population  2258 non-null   float64
 2   Members     2258 non-null   int64
 3   GDP_p_c     2258 non-null   float64
 4   Medal       2258 non-null   int64
dtypes: float64(3), int64(2)
memory usage: 98.0+ KB

                           GDP   Population  Members       GDP_p_c  Medal
Year Season Code
1980 Summer AFG   3.641723e+09   13356511.0       11    272.655286      0
            AGO   5.934074e+09    8341289.0       11    711.409664      0
            AND   4.464161e+08      36067.0        2  12377.411646      0
            AUS   1.500323e+11   14692000.0      120  10211.837189     13
            AUT   8.205891e+10    7549433.0       83  10869.546494      5
            BEL   1.268293e+11    9859242.0       59  12864.002566      1
            BEN   1.405252e+09    3717165.0        7    378.043898      0
            BGR   1.983923e+10    8861535.0      264   2238.802958     89
            BRA   2.373935e+11  120694009.0      105   1966.903675      9
            BWA   1.060924e+09     897868.0        7   1181.603342      0

In [83]:
def kolm_smirn_check(dFrame, column):
    ks_statistic, p_value = st.kstest(dFrame[column], 'norm')
    if p_value > 0.05: return True
    return False

def pearson_check(dFrame, column):
    statistic, p_value = st.normaltest(dFrame[column])
    if p_value > 0.05: return True
    return False

print("#1 test - Kolmagorov-Smirnov test,\n#2 test - Pearson test\n")
for c in dataset.columns:
    print('{0:<15}'.format(c + ":"),f"#1 test - {kolm_smirn_check(dataset, c)}, #2 test - {pearson_check(dataset, c)};")

#1 test - Kolmagorov-Smirnov test,
#2 test - Pearson test

GDP:            #1 test - False, #2 test - False;
Population:     #1 test - False, #2 test - False;
Members:        #1 test - False, #2 test - False;
GDP_p_c:        #1 test - False, #2 test - False;
Medal:          #1 test - False, #2 test - False;

In [84]:
dataset.corr()

                 GDP  Population   Members   GDP_p_c     Medal
GDP         1.000000    0.366452  0.547481  0.172987  0.612213
Population  0.366452    1.000000  0.244177 -0.072707  0.243602
Members     0.547481    0.244177  1.000000  0.149004  0.876835
GDP_p_c     0.172987   -0.072707  0.149004  1.000000  0.141599
Medal       0.612213    0.243602  0.876835  0.141599  1.000000

In [85]:
first = dataset.iloc[:, :4]
second = dataset['Medal']
f_train, f_test, s_train, s_test = train_test_split(first, second, test_size=0.3)

In [86]:
par = ["GDP", "Population", "Members", "GDP_p_c",
       ["GDP", "Population"],["GDP", "Members"],["GDP", "GDP_p_c"], ["Members", "Population"], ["Members", "GDP_p_c"], ["Population", "GDP_p_c"],
       ["GDP", "Population","Members"], ["GDP", "Population", "GDP_p_c"], ["GDP", "Members", "GDP_p_c"], ["Population", "Members", "GDP_p_c"],
       ["GDP", "Population", "Members", "GDP_p_c"]]

lin = []
pol = []
for i in range(len(par)):
    pol.append(make_pipeline(PolynomialFeatures(degree = 2), LinearRegression()))
    if i < 4: 
        lin.append(LinearRegression().fit(f_train[par[i]].to_numpy().reshape(-1,1), s_train))
        pol[i].fit(f_train[par[i]].to_numpy().reshape(-1,1), s_train)
    else:
        lin.append(LinearRegression().fit(f_train[par[i]], s_train))
        pol[i].fit(f_train[par[i]], s_train)

In [87]:
prediction = []

def predict_by(prediction, s):
    for i in range(len(par)):
        if i < 4:
            prediction.append(s[i].predict(f_test[par[i]].to_numpy().reshape(-1,1)))
        else:
            prediction.append(s[i].predict(f_test[par[i]]))
    return prediction

prediction = predict_by(prediction, lin)
prediction = predict_by(prediction, pol)

In [88]:
min_i = n.sum((n.array(prediction) - s_test.to_numpy())**2,axis = 1).argmin()
min= n.sum((n.array(prediction) - s_test.to_numpy())**2,axis = 1)
print(min)
print("Best model is:")
if (min_i < 15):
    print(f"linear model by {par[min_i]} params")
else:
    print(f"polynomial model by {par[min_i - 15]} params")

[248847.63826172 379010.22878498  83441.54465114 396234.75820058
 248746.33278381  70360.09096912 247923.15745398  82914.72296985
  83335.49775135 364740.81925686  70196.51555763 247669.51631637
  70393.32460382  82734.19796414  70215.99296975 225557.28314012
 347802.81558693  54667.36675616 379410.76533309 215964.98932163
 140657.87609277 222080.84338313  57202.17144384  53518.47350071
 237851.69003617 149917.55367255 215196.82246329 142965.82402475
  52506.34912611 149809.57090661]
Best model is:
polynomial model by ['Population', 'Members', 'GDP_p_c'] params

In [89]:
# from mpl_toolkits.mplot3d import Axes3D

# params = ['GDP', 'Population']
# params_values = []

# for i in range(len(params)):
#     values = n.linspace(f_test[params[i]].min(), f_test[params[i]].max()).reshape(-1, 1)
#     params_values.append(values)


# fig = pyp.figure(figsize=(8, 8))
# ax = fig.gca(projection='3d')

# X_3d = params_values[0]
# Y_3d = params_values[1]

# XX, YY = n.meshgrid(X_3d, Y_3d)

# Z = []
# for i in range(len(Y_3d)):
#     temp = []
#     for j in range(len(X_3d)):
#         temp.append(pol[2].predict(n.array([X_3d[j], Y_3d[i]]).T)[0])
#     Z.append(temp)
    
# Z = n.array(Z)

# ax.set_title('Поліноміальна регресія Medals ~ GDP, Population')
# ax.set_xlabel('GDP')
# ax.set_ylabel('Population')
# ax.set_zlabel('Medals')
# ax.plot_surface(
#     XX, YY,
#     n.array(Z),
#     color='green',
#     alpha=0.5
# )
# ax.scatter(f_test['GDP'], f_test['Population'], s_test)
# pyp.show()

In [90]:
arr = pol[2].predict(f_test[par[2]].to_numpy().reshape(-1,1))
sum = 0
count = 0
for i in arr:
    print(i)
    count += 1
    sum += i

print(f"avg {sum / count}")

0.19822417803089804
17.795694113038802
0.023606772573258633
12.263007888873002
0.6533256396783551
6.084171830145788
8.65909689204739
2.5112049151346403
0.19822417803089804
1.1349384556163242
0.19822417803089804
2.068650137116759
0.37708340017501946
10.316920006334746
0.8427894035386814
0.8427894035386814
3.6918236521927783
6.084171830145788
21.56044875549859
1.0364949840854893
44.98129080177232
0.023606772573258633
0.8427894035386814
0.19822417803089804
0.023606772573258633
0.747527294522708
230.52468965037775
0.4681036925045108
0.37708340017501946
4.451096694665444
7.107319194922084
1.4366315952385516
0.6533256396783551
2.738845029173304
0.747527294522708
0.37708340017501946
1.5393168834558684
31.355254773021787
0.37708340017501946
1.2344423813187795
49.23881124558349
0.1103852482162681
0.8427894035386814
106.44649558775917
1.6430626258448056
0.19822417803089804
0.9391119667262751
16.746738315283878
13.950702486395603
0.023606772573258633
1.1349384556163242
74.83644460655714
1.8537354731375415
0.023606772573258633
0.2871235620171485
6.227154376884683
5.522846184906412
0.37708340017501946
37.592094711551184
0.37708340017501946
3.326503262273322
0.2871235620171485
15.724293871819462
1.9606625780413398
0.4681036925045108
2.5112049151346403
0.4681036925045108
0.1103852482162681
0.6533256396783551
0.4681036925045108
0.1103852482162681
1.5393168834558684
0.1103852482162681
0.37708340017501946
3.4472162714081866
0.1103852482162681
5.112986719778895
0.4681036925045108
1.4366315952385516
55.783719193172445
2.624494745068162
190.80532132997865
0.37708340017501946
0.1103852482162681
1.0364949840854893
0.1103852482162681
0.1103852482162681
5.942249737578513
0.19822417803089804
27.65359108156962
0.19822417803089804
7.409191100974181
0.1103852482162681
0.37708340017501946
4.193763863821407
0.37708340017501946
0.2871235620171485
4.845049347218653
51.94790197680649
0.747527294522708
0.6533256396783551
0.37708340017501946
0.37708340017501946
0.19822417803089804
0.8427894035386814
0.1103852482162681
0.1103852482162681
0.19822417803089804
0.1103852482162681
0.9391119667262751
3.326503262273322
7.107319194922084
4.066688129656819
7.561717735257661
1.3350067611928553
2.068650137116759
9.474752772045813
3.326503262273322
10.661210079251664
0.2871235620171485
0.747527294522708
0.4681036925045108
0.2871235620171485
2.2878066177824588
4.7126713421959625
54.72486177501318
4.845049347218653
15.522986345641439
1.8537354731375415
17.583782045144577
0.023606772573258633
1.6430626258448056
0.2871235620171485
70.4173775957999
151.3203255259153
10.316920006334746
2.2878066177824588
7.869952366339481
5.385165909025619
1.7478688224053633
0.1103852482162681
0.19822417803089804
0.4681036925045108
87.54062486053253
14.532355527325636
0.2871235620171485
0.6533256396783551
0.37708340017501946
0.1103852482162681
0.023606772573258633
0.19822417803089804
0.4681036925045108
12.08078853778415
0.4681036925045108
0.1103852482162681
2.068650137116759
0.2871235620171485
20.873810751578127
13.568236063300347
0.8427894035386814
8.982177881531896
7.561717735257661
5.385165909025619
0.19822417803089804
0.1103852482162681
0.37708340017501946
2.738845029173304
0.5601844390056228
17.795694113038802
1.2344423813187795
8.982177881531896
0.747527294522708
0.6533256396783551
0.19822417803089804
62.7114510967164
8.025660363137822
2.2878066177824588
46.92403069977344
1.3350067611928553
1.0364949840854893
0.37708340017501946
0.9391119667262751
0.6533256396783551
0.19822417803089804
0.5601844390056228
0.5601844390056228
0.023606772573258633
0.2871235620171485
2.3989755393727394
0.2871235620171485
1.4366315952385516
0.1103852482162681
1.3350067611928553
0.2871235620171485
0.2871235620171485
0.023606772573258633
1.6430626258448056
0.6533256396783551
0.023606772573258633
0.19822417803089804
0.6533256396783551
0.1103852482162681
1.3350067611928553
1.4366315952385516
2.854255767450067
0.2871235620171485
0.2871235620171485
0.023606772573258633
0.2871235620171485
2.3989755393727394
0.19822417803089804
46.27220891708659
9.641065310560357
0.8427894035386814
5.801388099182859
0.6533256396783551
0.37708340017501946
5.112986719778895
2.738845029173304
0.9391119667262751
0.023606772573258633
0.747527294522708
1.1349384556163242
0.023606772573258633
0.5601844390056228
0.9391119667262751
0.023606772573258633
1.2344423813187795
99.32292505091759
0.1103852482162681
0.2871235620171485
0.19822417803089804
0.37708340017501946
20.421354353155923
0.37708340017501946
6.371197377795198
0.37708340017501946
0.1103852482162681
0.37708340017501946
1.4366315952385516
2.5112049151346403
22.25663084696364
0.023606772573258633
3.5689897347146724
0.2871235620171485
1.4366315952385516
1.1349384556163242
6.957973923153466
0.023606772573258633
0.747527294522708
5.801388099182859
0.6533256396783551
0.5601844390056228
5.248546087316447
0.2871235620171485
0.2871235620171485
0.37708340017501946
5.385165909025619
0.1103852482162681
0.023606772573258633
5.661586914958826
2.738845029173304
0.1103852482162681
0.5601844390056228
0.6533256396783551
0.4681036925045108
0.9391119667262751
17.37293043142197
1.4366315952385516
0.1103852482162681
2.9707269598984496
4.7126713421959625
0.5601844390056228
1.5393168834558684
0.5601844390056228
0.2871235620171485
0.023606772573258633
0.1103852482162681
0.6533256396783551
0.37708340017501946
0.1103852482162681
0.5601844390056228
3.5689897347146724
18.22269961134212
0.747527294522708
2.624494745068162
0.5601844390056228
20.873810751578127
0.2871235620171485
0.6533256396783551
0.023606772573258633
0.19822417803089804
4.451096694665444
0.2871235620171485
0.2871235620171485
0.4681036925045108
0.37708340017501946
1.8537354731375415
15.9266618521691
0.4681036925045108
1.9606625780413398
0.5601844390056228
2.5112049151346403
16.54012851824775
2.5112049151346403
0.19822417803089804
0.37708340017501946
0.023606772573258633
11.362515675144943
0.023606772573258633
3.326503262273322
14.532355527325636
0.1103852482162681
0.4681036925045108
3.2068507073100774
0.1103852482162681
1.2344423813187795
13.950702486395603
13.37859353301015
0.023606772573258633
0.5601844390056228
17.583782045144577
0.2871235620171485
0.1103852482162681
1.1349384556163242
0.37708340017501946
1.6430626258448056
2.2878066177824588
4.978487806412964
0.023606772573258633
0.1103852482162681
154.19856476971557
0.6533256396783551
38.18453106062729
27.141749249536666
88.42150474428941
0.4681036925045108
0.2871235620171485
0.37708340017501946
0.37708340017501946
8.499147078562569
2.738845029173304
0.19822417803089804
0.023606772573258633
0.2871235620171485
5.385165909025619
0.1103852482162681
19.973139771420197
0.19822417803089804
8.025660363137822
0.37708340017501946
3.8157180238425044
59.74785136430448
5.661586914958826
0.2871235620171485
118.84934023497209
0.1103852482162681
0.1103852482162681
2.5112049151346403
2.5112049151346403
5.661586914958826
0.2871235620171485
0.4681036925045108
0.023606772573258633
25.631674653556697
0.4681036925045108
1.5393168834558684
1.5393168834558684
11.362515675144943
1.0364949840854893
0.1103852482162681
0.747527294522708
0.747527294522708
54.72486177501318
0.6533256396783551
0.1103852482162681
2.1776981503637987
2.1776981503637987
0.4681036925045108
2.624494745068162
30.81372022418346
0.19822417803089804
0.4681036925045108
0.4681036925045108
0.2871235620171485
0.2871235620171485
1.1349384556163242
0.19822417803089804
3.6918236521927783
5.112986719778895
0.1103852482162681
5.661586914958826
0.2871235620171485
0.1103852482162681
0.19822417803089804
0.1103852482162681
0.1103852482162681
0.5601844390056228
0.2871235620171485
7.107319194922084
0.023606772573258633
28.429307235906204
1.7478688224053633
0.19822417803089804
1.0364949840854893
0.19822417803089804
0.37708340017501946
48.90494694795291
45.30242964934345
3.8157180238425044
16.130090286690365
6.516300832877334
0.023606772573258633
64.21870186304125
0.19822417803089804
8.982177881531896
76.47519169016292
5.942249737578513
0.2871235620171485
3.6918236521927783
3.8157180238425044
1.5393168834558684
1.2344423813187795
1.7478688224053633
7.409191100974181
0.2871235620171485
5.385165909025619
0.4681036925045108
0.8427894035386814
0.9391119667262751
0.1103852482162681
0.1103852482162681
0.747527294522708
1.4366315952385516
6.662464742131092
0.9391119667262751
0.6533256396783551
0.1103852482162681
0.1103852482162681
0.1103852482162681
2.5112049151346403
1.3350067611928553
0.6533256396783551
0.4681036925045108
0.37708340017501946
0.023606772573258633
0.37708340017501946
2.1776981503637987
0.37708340017501946
0.37708340017501946
4.193763863821407
10.834945796967553
0.4681036925045108
1.0364949840854893
1.2344423813187795
0.2871235620171485
0.4681036925045108
7.715304823712761
0.2871235620171485
42.76301158557973
2.1776981503637987
0.8427894035386814
43.707339953203984
0.1103852482162681
0.023606772573258633
1.5393168834558684
21.330508966686818
6.662464742131092
0.2871235620171485
0.19822417803089804
0.4681036925045108
0.023606772573258633
3.5689897347146724
0.37708340017501946
5.112986719778895
0.023606772573258633
1.5393168834558684
0.1103852482162681
0.19822417803089804
8.982177881531896
0.37708340017501946
0.4681036925045108
2.068650137116759
0.023606772573258633
0.5601844390056228
4.451096694665444
0.4681036925045108
0.2871235620171485
0.6533256396783551
1.3350067611928553
0.2871235620171485
0.1103852482162681
0.9391119667262751
2.854255767450067
0.2871235620171485
0.4681036925045108
0.19822417803089804
5.112986719778895
199.89621312160614
2.3989755393727394
0.023606772573258633
0.747527294522708
4.581353791344894
0.2871235620171485
4.7126713421959625
3.2068507073100774
8.182428814107784
0.37708340017501946
22.72605451213177
1.4366315952385516
12.08078853778415
1.7478688224053633
2.738845029173304
0.1103852482162681
0.023606772573258633
1.6430626258448056
3.2068507073100774
0.5601844390056228
3.088258606518454
0.6533256396783551
0.19822417803089804
3.5689897347146724
0.2871235620171485
1.5393168834558684
0.19822417803089804
5.801388099182859
36.12956178686427
0.023606772573258633
0.023606772573258633
110.34329499119711
0.023606772573258633
6.662464742131092
0.747527294522708
9.976871750104312
0.9391119667262751
1.7478688224053633
2.9707269598984496
4.066688129656819
0.1103852482162681
0.2871235620171485
114.30796346161877
56.494926409470054
5.112986719778895
101.19921386896635
12.816028667169284
0.19822417803089804
3.4472162714081866
2.1776981503637987
1.1349384556163242
15.123552655800257
1.4366315952385516
2.738845029173304
0.19822417803089804
0.2871235620171485
2.5112049151346403
1.1349384556163242
7.257724920862323
0.37708340017501946
4.978487806412964
0.4681036925045108
0.1103852482162681
0.1103852482162681
2.2878066177824588
47.90971678009089
0.023606772573258633
22.962357025973272
1.6430626258448056
6.809689105556468
1.4366315952385516
4.845049347218653
0.5601844390056228
1.3350067611928553
0.9391119667262751
0.37708340017501946
0.19822417803089804
0.1103852482162681
6.809689105556468
0.1103852482162681
1.8537354731375415
0.4681036925045108
24.89095348688359
5.112986719778895
0.4681036925045108
8.820107159703834
9.309500687702887
1.9606625780413398
0.2871235620171485
1.7478688224053633
0.2871235620171485
0.747527294522708
0.8427894035386814
0.19822417803089804
0.19822417803089804
3.8157180238425044
2.3989755393727394
4.321900052157615
2.624494745068162
2.068650137116759
0.5601844390056228
3.326503262273322
5.801388099182859
0.37708340017501946
0.747527294522708
0.37708340017501946
1.9606625780413398
0.9391119667262751
0.19822417803089804
0.4681036925045108
6.662464742131092
0.1103852482162681
0.747527294522708
0.1103852482162681
90.19598996186261
0.2871235620171485
84.92343610938077
0.747527294522708
4.451096694665444
6.084171830145788
0.4681036925045108
1.2344423813187795
16.334579175383247
8.982177881531896
7.257724920862323
14.337410726177339
0.4681036925045108
0.747527294522708
4.321900052157615
18.653946926331916
2.3989755393727394
0.1103852482162681
1.2344423813187795
4.978487806412964
26.88741901477762
0.4681036925045108
0.4681036925045108
0.19822417803089804
1.3350067611928553
0.2871235620171485
0.023606772573258633
0.023606772573258633
0.1103852482162681
13.950702486395603
5.112986719778895
86.22725844118436
16.54012851824775
25.88070261745764
5.801388099182859
12.08078853778415
0.37708340017501946
7.107319194922084
0.5601844390056228
1.1349384556163242
1.7478688224053633
0.6533256396783551
3.5689897347146724
209.86710310924872
0.19822417803089804
0.1103852482162681
0.19822417803089804
59.74785136430448
0.4681036925045108
0.1103852482162681
0.1103852482162681
0.37708340017501946
0.19822417803089804
0.023606772573258633
2.2878066177824588
1.2344423813187795
0.37708340017501946
0.5601844390056228
0.19822417803089804
2.068650137116759
44.98129080177232
0.37708340017501946
0.023606772573258633
16.954408566491622
0.37708340017501946
0.37708340017501946
avg 8.061520161469542

In [91]:
sum_d = 0
count_d = 0
for i in range(len(dataset)):
    count_d += 1
    sum_d += dataset.iloc[i, 4]

print(f"avg {sum_d / count_d}")

avg 8.400354295837024