In [49]:
import matplotlib.pyplot as pyp
import scipy.stats as st
import pandas as p
import numpy as n
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import PolynomialFeatures
from sklearn.pipeline import make_pipeline
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score

In [50]:
def read_dataset(path, separ, en):
    return p.read_csv(path, sep = separ, encoding = en)

dataset = read_dataset("fullDataset.csv", ',', 'cp1252')
dataset.info()
dataset.head(5)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 139483 entries, 0 to 139482
Data columns (total 14 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Unnamed: 0  139483 non-null  int64
 1   ID          139483 non-null  int64
 2   Sex         139483 non-null  object
 3   Age         139483 non-null  int64
 4   Height      139483 non-null  int64
 5   Weight      139483 non-null  int64
 6   Team        139483 non-null  object
 7   Year        139483 non-null  int64
 8   Season      139483 non-null  object
 9   Sport       139483 non-null  object
 10  Medal       18968 non-null   object
 11  Code        139483 non-null  object
 12  GDP         139483 non-null  float64
 13  Population  139483 non-null  float64
dtypes: float64(2), int64(6), object(6)
memory usage: 14.9+ MB

,Unnamed: 0,ID,Sex,Age,Height,Weight,Team,Year,Season,Sport,Medal,Code,GDP,Population
0,0,1,M,24,180,80,China,1992,Summer,Basketball,NaN,CHN,4.269157e+11,1.164970e+09
1,1,2,M,23,170,60,China,2012,Summer,Judo,NaN,CHN,8.532230e+12,1.350695e+09
2,2,5,F,21,185,82,Netherlands,1988,Winter,Speed Skating,NaN,NLD,2.619105e+11,1.476009e+07
3,3,5,F,21,185,82,Netherlands,1988,Winter,Speed Skating,NaN,NLD,2.619105e+11,1.476009e+07
4,4,5,F,25,185,82,Netherlands,1992,Winter,Speed Skating,NaN,NLD,3.629629e+11,1.518417e+07

In [51]:
drop_list = ["Unnamed: 0", "Sex", "Age", "Height", "Weight", "Team", "Sport"]

for str in drop_list:
    dataset = dataset.drop(str, axis = 1)

dataset.info()
dataset.head(10)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 139483 entries, 0 to 139482
Data columns (total 7 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   ID          139483 non-null  int64
 1   Year        139483 non-null  int64
 2   Season      139483 non-null  object
 3   Medal       18968 non-null   object
 4   Code        139483 non-null  object
 5   GDP         139483 non-null  float64
 6   Population  139483 non-null  float64
dtypes: float64(2), int64(2), object(3)
memory usage: 7.4+ MB

   ID  Year  Season Medal Code           GDP    Population
0   1  1992  Summer   NaN  CHN  4.269157e+11  1.164970e+09
1   2  2012  Summer   NaN  CHN  8.532230e+12  1.350695e+09
2   5  1988  Winter   NaN  NLD  2.619105e+11  1.476009e+07
3   5  1988  Winter   NaN  NLD  2.619105e+11  1.476009e+07
4   5  1992  Winter   NaN  NLD  3.629629e+11  1.518417e+07
5   5  1992  Winter   NaN  NLD  3.629629e+11  1.518417e+07
6   5  1994  Winter   NaN  NLD  3.791303e+11  1.538284e+07
7   5  1994  Winter   NaN  NLD  3.791303e+11  1.538284e+07
8   6  1992  Winter   NaN  USA  6.520327e+12  2.565140e+08
9   6  1992  Winter   NaN  USA  6.520327e+12  2.565140e+08

In [52]:
dataset = dataset.groupby(["Year", "Season", "Code"]).agg(GDP = ("GDP", "mean"),
                                                          Population = ("Population", "mean"),
                                                          Members = ("ID","nunique"),
                                                          Medal = ("Medal", "count"))


dataset.info()

dataset.to_csv("check_r.csv", sep=',', encoding='utf-8')
dataset.head(10)

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 2258 entries, (1980, 'Summer', 'AFG') to (2016, 'Summer', 'ZWE')
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   GDP         2258 non-null   float64
 1   Population  2258 non-null   float64
 2   Members     2258 non-null   int64
 3   Medal       2258 non-null   int64
dtypes: float64(2), int64(2)
memory usage: 81.2+ KB

                           GDP   Population  Members  Medal
Year Season Code
1980 Summer AFG   3.641723e+09   13356511.0       11      0
            AGO   5.934074e+09    8341289.0       11      0
            AND   4.464161e+08      36067.0        2      0
            AUS   1.500323e+11   14692000.0      120     13
            AUT   8.205891e+10    7549433.0       83      5
            BEL   1.268293e+11    9859242.0       59      1
            BEN   1.405252e+09    3717165.0        7      0
            BGR   1.983923e+10    8861535.0      264     89
            BRA   2.373935e+11  120694009.0      105      9
            BWA   1.060924e+09     897868.0        7      0

In [53]:
def kolm_smirn_check(dFrame, column):
    ks_statistic, p_value = st.kstest(dFrame[column], 'norm')
    if p_value > 0.05: return True
    return False

def pearson_check(dFrame, column):
    statistic, p_value = st.normaltest(dFrame[column])
    if p_value > 0.05: return True
    return False

print("#1 test - Kolmagorov-Smirnov test,\n#2 test - Pearson test\n")
for c in dataset.columns:
    print('{0:<15}'.format(c + ":"),f"#1 test - {kolm_smirn_check(dataset, c)}, #2 test - {pearson_check(dataset, c)};")

#1 test - Kolmagorov-Smirnov test,
#2 test - Pearson test

GDP:            #1 test - False, #2 test - False;
Population:     #1 test - False, #2 test - False;
Members:        #1 test - False, #2 test - False;
Medal:          #1 test - False, #2 test - False;

In [54]:
dataset.corr()

                 GDP  Population   Members     Medal
GDP         1.000000    0.366452  0.547481  0.612213
Population  0.366452    1.000000  0.244177  0.243602
Members     0.547481    0.244177  1.000000  0.876835
Medal       0.612213    0.243602  0.876835  1.000000

In [55]:
first = dataset.iloc[:, :3]
second = dataset['Medal']
f_train, f_test, s_train, s_test = train_test_split(first, second, test_size=0.3)

In [56]:
par = ["GDP", "Population", "Members", ["GDP", "Population"],["GDP", "Members"],["Members", "Population"],["GDP", "Population","Members"]]

lin = []
pol = []
for i in range(len(par)):
    pol.append(make_pipeline(PolynomialFeatures(degree = 2), LinearRegression()))
    if i < 3: 
        lin.append(LinearRegression().fit(f_train[par[i]].to_numpy().reshape(-1,1), s_train))
        pol[i].fit(f_train[par[i]].to_numpy().reshape(-1,1), s_train)
    else:
        lin.append(LinearRegression().fit(f_train[par[i]], s_train))
        pol[i].fit(f_train[par[i]], s_train)

In [57]:
prediction = []

def predict_by(prediction, s):
    for i in range(len(par)):
        if i < 3:
            prediction.append(s[i].predict(f_test[par[i]].to_numpy().reshape(-1,1)))
        else:
            prediction.append(s[i].predict(f_test[par[i]]))
    return prediction

prediction = predict_by(prediction, lin)
prediction = predict_by(prediction, pol)

In [58]:
min_i = n.sum((n.array(prediction) - s_test.to_numpy())**2,axis = 1).argmin()
min= n.sum((n.array(prediction) - s_test.to_numpy())**2,axis = 1)
print(min)
print("Best model is:")
if (min_i < 7):
    print(f"linear model by {par[min_i]} params")
else:
    print(f"polynomial model by {par[min_i - 7]} params")

[221450.55421437 350741.96763879  83205.18288303 221169.86636785
  70443.17333861  82585.03056099  70462.92601931 211922.78666206
 356206.77551622  74615.8057501  218069.01356592 151229.52911311
  89691.49841281 156022.62182073]
Best model is:
linear model by ['GDP', 'Members'] params

In [59]:
# from mpl_toolkits.mplot3d import Axes3D

# params = ['GDP', 'Population']
# params_values = []

# for i in range(len(params)):
#     values = n.linspace(f_test[params[i]].min(), f_test[params[i]].max()).reshape(-1, 1)
#     params_values.append(values)


# fig = pyp.figure(figsize=(8, 8))
# ax = fig.gca(projection='3d')

# X_3d = params_values[0]
# Y_3d = params_values[1]

# XX, YY = n.meshgrid(X_3d, Y_3d)

# Z = []
# for i in range(len(Y_3d)):
#     temp = []
#     for j in range(len(X_3d)):
#         temp.append(pol[2].predict(n.array([X_3d[j], Y_3d[i]]).T)[0])
#     Z.append(temp)
    
# Z = n.array(Z)

# ax.set_title('Поліноміальна регресія Medals ~ GDP, Population')
# ax.set_xlabel('GDP')
# ax.set_ylabel('Population')
# ax.set_zlabel('Medals')
# ax.plot_surface(
#     XX, YY,
#     n.array(Z),
#     color='green',
#     alpha=0.5
# )
# ax.scatter(f_test['GDP'], f_test['Population'], s_test)
# pyp.show()

In [60]:
arr = pol[2].predict(f_test[par[2]].to_numpy().reshape(-1,1))
sum = 0
count = 0
for i in arr:
    print(i)
    count += 1
    sum += i

print(f"avg {sum / count}")

0.5369537649790315
0.5369537649790315
0.5369537649790315
3.2304540732117673
0.47622676755321314
1.2860694888019428
0.8590248321396935
0.7265091892691147
0.5369537649790315
0.9271262615781399
12.089304759657026
0.7265091892691147
0.5989098344069546
0.9271262615781399
0.6620949758369822
1.5953473666188693
3.6478902872139067
0.9964567630186911
0.5369537649790315
0.5369537649790315
0.5989098344069546
0.7921524747033517
11.733098012403394
3.6478902872139067
0.47622676755321314
4.54175817131921
0.5989098344069546
15.315557239652808
0.6620949758369822
0.5369537649790315
0.5369537649790315
1.1388049819061075
0.5369537649790315
39.883278267296774
6.702405225490226
2.0095988339373827
0.5369537649790315
1.1388049819061075
13.753074186402552
1.2118226993529728
1.4382502837061966
5.263780108486585
0.47622676755321314
0.7921524747033517
0.47622676755321314
5.514286663559214
2.0095988339373827
63.88016053695203
1.4382502837061966
0.5369537649790315
10.19100671386623
4.310916768280256
0.9271262615781399
0.47622676755321314
0.7265091892691147
0.5369537649790315
0.9271262615781399
1.2118226993529728
0.9271262615781399
0.9271262615781399
0.8590248321396935
6.84056375904864
1.7573607375399607
0.9964567630186911
0.6620949758369822
0.5369537649790315
0.8590248321396935
0.5369537649790315
0.47622676755321314
0.6620949758369822
14.917562044327616
1.4382502837061966
0.47622676755321314
0.7921524747033517
0.5989098344069546
0.7265091892691147
4.54175817131921
0.5369537649790315
0.7265091892691147
1.067016336461347
1.067016336461347
0.7265091892691147
18.457227884860096
3.9738727037376105
3.6478902872139067
12.816467118189546
2.2728985783537476
0.5989098344069546
0.5989098344069546
0.7265091892691147
19.341711459662015
0.6620949758369822
0.7921524747033517
80.3889868207734
0.5369537649790315
21.169674065366884
0.7265091892691147
0.7265091892691147
0.9964567630186911
1.6757395160783626
30.091887146909457
0.8590248321396935
0.7921524747033517
16.539040553678895
0.7265091892691147
10.025808596261513
2.930282168732262
0.9964567630186911
117.93107756152021
14.329787291355613
0.7921524747033517
0.47622676755321314
0.7265091892691147
1.4382502837061966
0.5369537649790315
0.5989098344069546
0.7265091892691147
2.930282168732262
0.7921524747033517
41.48358421664631
0.47622676755321314
0.9964567630186911
34.67207450390192
1.5161842891614805
1.5953473666188693
0.6620949758369822
11.733098012403394
7.120568042171782
140.54151973311193
2.3631233038300783
0.6620949758369822
3.9738727037376105
1.1388049819061075
0.47622676755321314
0.7921524747033517
0.7265091892691147
0.47622676755321314
0.9964567630186911
0.7265091892691147
15.718468722986417
13.374744143111036
0.5369537649790315
0.8590248321396935
1.4382502837061966
4.54175817131921
0.6620949758369822
2.0961363434074
13.187422729468434
0.7921524747033517
0.6620949758369822
1.4382502837061966
2.0961363434074
1.4382502837061966
2.8326830112433035
2.0095988339373827
0.5369537649790315
1.8402110310036637
7.120568042171782
9.53758867545999
7.990078619591719
53.91284218951625
41.48358421664631
2.0095988339373827
2.5472599707890544
14.720408054668177
0.6620949758369822
0.47622676755321314
9.53758867545999
252.22388662649536
0.9271262615781399
0.5369537649790315
1.9242903964694709
0.8590248321396935
1.5161842891614805
2.183902924879521
1.8402110310036637
22.592267043733926
0.47622676755321314
0.5369537649790315
0.8590248321396935
0.5369537649790315
0.9271262615781399
26.602164991749817
0.47622676755321314
0.7921524747033517
0.6620949758369822
0.5369537649790315
0.8590248321396935
91.47744296748537
3.029110398223326
0.6620949758369822
0.5369537649790315
0.9964567630186911
0.7265091892691147
1.5953473666188693
6.2953040568276135
5.388418850021847
1.5953473666188693
0.8590248321396935
0.5369537649790315
2.0095988339373827
9.699099577058393
0.7921524747033517
0.7921524747033517
1.4382502837061966
0.7265091892691147
5.388418850021847
12.089304759657026
0.7921524747033517
2.0961363434074
3.436714036208628
0.47622676755321314
0.7265091892691147
3.7553220207197033
2.0095988339373827
1.6757395160783626
1.5161842891614805
5.769709506640262
0.6620949758369822
3.3329695187091453
0.7265091892691147
42.13231010040086
0.8590248321396935
88.63895904269373
4.777515862366583
0.9964567630186911
1.067016336461347
3.7553220207197033
0.6620949758369822
0.7921524747033517
0.7921524747033517
3.1291676997164943
0.6620949758369822
82.64070093123841
0.47622676755321314
0.47622676755321314
0.9964567630186911
1.4382502837061966
3.541687625710215
2.0961363434074
0.47622676755321314
0.5989098344069546
12.632832920553259
1.4382502837061966
0.6620949758369822
0.6620949758369822
0.6620949758369822
10.693975498693009
2.454577101308514
1.4382502837061966
250.64844045315388
0.47622676755321314
14.720408054668177
2.2728985783537476
0.5989098344069546
0.7265091892691147
0.6620949758369822
0.6620949758369822
0.7921524747033517
16.126296494328447
0.7921524747033517
0.7265091892691147
0.9271262615781399
0.9271262615781399
2.7363129257564487
1.9242903964694709
2.5472599707890544
0.9964567630186911
6.979951364609159
3.7553220207197033
0.5369537649790315
0.8590248321396935
20.017979396785556
0.6620949758369822
21.403700215089458
6.162061811277618
25.31527240293697
7.26241379173651
2.641171912271699
17.80677045978075
0.8590248321396935
0.47622676755321314
0.6620949758369822
1.2118226993529728
1.2860694888019428
0.6620949758369822
1.1388049819061075
2.183902924879521
2.454577101308514
0.5989098344069546
1.6757395160783626
40.519713431030276
0.8590248321396935
0.5989098344069546
0.5369537649790315
1.6757395160783626
1.067016336461347
0.5369537649790315
0.7265091892691147
1.2118226993529728
0.5369537649790315
30.647203558504046
14.136320517702488
3.7553220207197033
0.5989098344069546
23.320156004945865
0.5369537649790315
137.6076706614788
0.7921524747033517
0.47622676755321314
1.067016336461347
1.7573607375399607
1.6757395160783626
0.9964567630186911
4.310916768280256
0.6620949758369822
1.1388049819061075
0.5369537649790315
1.7573607375399607
1.067016336461347
0.5369537649790315
3.1291676997164943
3.863982826227604
3.029110398223326
158.16377684562167
0.7265091892691147
11.381807553158179
0.9271262615781399
1.6757395160783626
0.9271262615781399
0.5989098344069546
0.5989098344069546
15.92176807265638
1.2860694888019428
4.54175817131921
0.5369537649790315
1.2118226993529728
0.8590248321396935
11.910586850029157
2.641171912271699
44.10798547971502
0.6620949758369822
36.16790933307256
0.7921524747033517
0.6620949758369822
5.641383549098686
12.632832920553259
2.0095988339373827
0.47622676755321314
2.930282168732262
1.3615453502530173
0.5369537649790315
0.8590248321396935
0.6620949758369822
0.7921524747033517
0.6620949758369822
0.7265091892691147
0.7265091892691147
0.9964567630186911
36.774846768755545
3.9738727037376105
0.6620949758369822
0.6620949758369822
0.5989098344069546
4.310916768280256
30.091887146909457
0.6620949758369822
1.2118226993529728
91.00128963334818
5.388418850021847
1.1388049819061075
0.47622676755321314
0.7265091892691147
0.47622676755321314
0.47622676755321314
0.47622676755321314
0.5369537649790315
11.035433381921385
1.067016336461347
0.7265091892691147
7.990078619591719
0.5369537649790315
4.777515862366583
0.8590248321396935
0.5989098344069546
0.47622676755321314
18.67650517055742
19.341711459662015
0.8590248321396935
5.388418850021847
5.641383549098686
1.2118226993529728
0.7265091892691147
7.695325472443321
0.5369537649790315
1.8402110310036637
0.47622676755321314
0.7265091892691147
0.47622676755321314
1.1388049819061075
1.3615453502530173
0.47622676755321314
6.162061811277618
0.5369537649790315
3.9738727037376105
0.7921524747033517
0.5369537649790315
3.7553220207197033
0.5369537649790315
0.47622676755321314
0.7265091892691147
59.5618197190171
7.26241379173651
0.6620949758369822
2.930282168732262
0.6620949758369822
1.5953473666188693
0.7265091892691147
5.263780108486585
1.4382502837061966
2.3631233038300783
0.47622676755321314
3.9738727037376105
0.47622676755321314
12.816467118189546
1.067016336461347
5.388418850021847
5.899264536183942
3.3329695187091453
0.9964567630186911
2.0961363434074
12.632832920553259
0.7265091892691147
0.7921524747033517
1.1388049819061075
0.47622676755321314
0.47622676755321314
45.78818110920136
8.139298801169076
7.26241379173651
83.54999007943916
4.54175817131921
1.3615453502530173
4.54175817131921
0.8590248321396935
3.6478902872139067
0.8590248321396935
0.5369537649790315
8.289748054748536
18.239179671164877
5.641383549098686
2.454577101308514
1.1388049819061075
2.3631233038300783
1.067016336461347
8.748470247499545
0.5989098344069546
0.47622676755321314
3.541687625710215
3.1291676997164943
0.5369537649790315
1.4382502837061966
0.8590248321396935
0.7921524747033517
0.7265091892691147
5.514286663559214
23.320156004945865
3.863982826227604
21.169674065366884
7.549792506872279
2.3631233038300783
0.9271262615781399
0.47622676755321314
1.067016336461347
0.7921524747033517
0.6620949758369822
0.5369537649790315
0.5369537649790315
0.7265091892691147
4.54175817131921
1.067016336461347
3.029110398223326
0.8590248321396935
75.9777390000012
3.6478902872139067
0.47622676755321314
1.2860694888019428
0.5369537649790315
0.47622676755321314
0.5369537649790315
9.53758867545999
0.8590248321396935
1.067016336461347
2.2728985783537476
0.5989098344069546
3.7553220207197033
0.8590248321396935
0.7265091892691147
0.5989098344069546
1.2118226993529728
0.5369537649790315
0.6620949758369822
1.1388049819061075
1.1388049819061075
1.1388049819061075
3.029110398223326
1.5161842891614805
1.5953473666188693
1.067016336461347
8.139298801169076
0.5369537649790315
0.47622676755321314
2.3631233038300783
0.47622676755321314
48.88996477840937
0.47622676755321314
0.7921524747033517
0.47622676755321314
0.47622676755321314
4.777515862366583
3.436714036208628
12.269251741286999
2.930282168732262
1.1388049819061075
0.47622676755321314
1.6757395160783626
18.239179671164877
17.592409462091844
0.5369537649790315
1.7573607375399607
0.6620949758369822
0.6620949758369822
0.9271262615781399
1.067016336461347
2.2728985783537476
36.16790933307256
2.5472599707890544
1.067016336461347
12.269251741286999
0.7265091892691147
0.5369537649790315
2.454577101308514
0.5989098344069546
0.9271262615781399
97.77928186346055
6.565475763933917
0.9271262615781399
31.77258524571849
0.6620949758369822
1.5161842891614805
0.7265091892691147
0.5369537649790315
0.47622676755321314
1.7573607375399607
0.47622676755321314
0.7265091892691147
0.5369537649790315
21.169674065366884
0.5989098344069546
3.863982826227604
0.5989098344069546
0.47622676755321314
18.897011528256847
0.8590248321396935
1.5953473666188693
5.899264536183942
11.733098012403394
70.426863097312
5.641383549098686
1.5161842891614805
0.8590248321396935
21.403700215089458
0.5989098344069546
4.197339674763937
0.6620949758369822
0.7921524747033517
0.5989098344069546
0.7265091892691147
0.47622676755321314
0.6620949758369822
0.7265091892691147
6.565475763933917
204.24808793174358
29.268130569533355
0.6620949758369822
0.6620949758369822
0.5989098344069546
6.979951364609159
11.556838246779733
22.113153096269826
7.695325472443321
2.183902924879521
0.5989098344069546
0.5989098344069546
8.289748054748536
11.035433381921385
0.5989098344069546
11.381807553158179
0.6620949758369822
0.7265091892691147
22.352095534000824
0.7921524747033517
0.5989098344069546
0.6620949758369822
0.7265091892691147
0.7921524747033517
0.7265091892691147
0.5989098344069546
0.5369537649790315
0.6620949758369822
0.7265091892691147
5.388418850021847
0.47622676755321314
0.9271262615781399
3.2304540732117673
0.47622676755321314
0.7265091892691147
21.875439730540933
0.7265091892691147
0.5369537649790315
0.6620949758369822
0.6620949758369822
0.7265091892691147
1.2860694888019428
0.6620949758369822
1.5953473666188693
6.565475763933917
2.3631233038300783
10.864089904306145
41.48358421664631
8.289748054748536
0.5989098344069546
0.7265091892691147
0.6620949758369822
6.429775374379713
2.0095988339373827
1.1388049819061075
1.1388049819061075
13.374744143111036
0.8590248321396935
1.1388049819061075
1.8402110310036637
4.659022480841845
20.017979396785556
0.6620949758369822
0.9271262615781399
0.5369537649790315
0.6620949758369822
0.8590248321396935
0.7265091892691147
72.11270161748617
0.6620949758369822
7.990078619591719
70.426863097312
0.5989098344069546
89.10896701682042
0.7265091892691147
0.5369537649790315
76.8501559881388
28.99600318774553
0.7265091892691147
0.47622676755321314
0.5369537649790315
0.5989098344069546
2.3631233038300783
6.565475763933917
6.429775374379713
2.641171912271699
1.2118226993529728
0.6620949758369822
0.47622676755321314
0.5369537649790315
0.47622676755321314
21.875439730540933
269.0628923350892
1.1388049819061075
0.8590248321396935
0.7921524747033517
avg 8.070538032196827